{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/shop.css?{% now "U" %}"/>
    <title>Webshop</title>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="{% url 'product_list' %}"><h1>Webshop</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link">Üdvözlünk, {{user.username}}!</p>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'log_out' %}">Kijelentkezés</a>
                    </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'product_new' %}">Új termék felvétele</a>
                    </li>
                    <li>
                        <a class="nav-link" aria-current="page" href="{% url 'order_list' %}">Rendelések megtekintése</a>
                    </li>
                {% endif %}
                {% else %}

                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link">Regisztrálás</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Bejelentkezés</a>
                    </li>
            
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <div class="content container">
        <div class="row">
                {% block content %}
                {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>