{% extends "shop/base.html" %}


{% block content %}
{% if user.is_superuser %}
    {% for order in orders %}

    <div class="card text-bg-secondary mb-3 product" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{order.order_time}}</h5>
            <p class="card-text">{{order.item}}</p>
            <a href="{% url 'order_detail' pk=order.pk %}" class="btn btn-primary">Több információ</a>
        </div>
    </div>
        
    {% endfor %}
{% endif %}

{% endblock %}